<ul class="product-list">
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_1.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Айну</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">12 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_2.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Афганская борзая</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">15 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_3.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Барбет</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">50 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_4.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Бассет</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">10 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_5.jpg" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Легавой</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">39 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_6.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Веттерхун</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">12 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_7.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Древера</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">17 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_8.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Ирландский Терьер</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">15 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_9.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Американский кокер</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">10 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_10.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Английский кокер</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">20 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_11.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Дункер</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">20 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
            <li class="product-list__item">
              <a href="" class="product-item__wrapper">
                <div class="product-item__img">
                  <div>
                    <img src="img/dog_6.png" alt="Фото собаки">
                  </div>
                </div>
                <div class="product-item__info">
                  <div class="product-item__title">
                    <h2>Спаниель</h2>
                  </div>
                  <div class="product-item__price">
                    <span class="product-item__value">5 000₽</span>
                  </div>
                  <button class="product-item__button btn-orange">В корзину</button>
                </div>
              </a>
            </li>
          </ul>