.categories__block{
  width: 100%;
  /* max-width: 1312px; */
  display: flex;
  margin: 0 auto;
}
.categories__block > button > h2{
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.categories__block-item {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: auto;
  background-blend-mode: screen;
  transition: box-shadow .3s ease, transform .5s ease;
  border: none;
  cursor: pointer;
}
.categories__block-dog{
  background: linear-gradient(45deg, #fcc863, #fcc863), url(../img/bg_dog.svg);

}
.categories__block-cat{
  background: linear-gradient(45deg, #ed7568, #ed7568), url(../img/bg_cat.svg);
}
.categories__block-dog:hover{
  box-shadow: 0px 0px 10px 1px #fcc863;
}
.categories__block-cat:hover{
  box-shadow: 0px 0px 10px 1px #ed7568;
}
.categories__block-cat:focus{
  box-shadow: 0px 0px 10px 1px #ed7568;
  outline: 1px solid transparent;
}
.categories__block-dog:focus{
  box-shadow: 0px 0px 10px 1px #fcc863;
  outline: 1px solid transparent;
}
.categories__block-item:active{
  transform: scale(.9);
}
