.nj-mood {
  position: absolute;
  top: 15px;
  left: 35px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nj-mood__button {
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px 7px;
  letter-spacing: 1.3px;
  color: white;
  background: var(--orange);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px var(--orange);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 9;
}


.nj-mood__button:hover, .nj-mood__button:focus {
  transform: translateY(-6px);
}

.nj-mood__button:hover::before, .nj-mood__button:focus::before {
  opacity: 1;
}

.nj-mood__button::after {
  content: '';
  width: 20px; height: 20px;
  border-radius: 100%;
  border: 6px solid var(--orange);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.nj-mood__button:hover::after, .nj-mood__button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
.delete-nj-mood__button{
  display: none;
  margin-top: 10px;
  position: absolute;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px 7px;
  letter-spacing: 1.3px;
  color: white;
  background: var(--orange);
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 9;
}
.visible{
  display: block;
}
button{
  font-family: var(--font);
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
}
/* button orange */
.btn-orange{
  background: var(--orange);
  border-radius: 4px;
  cursor: pointer;
  padding: 7px 20px;
  border: 1px solid var(--orange);
  transition: background .3s ease, transform .3s ease;
}
.btn-orange:hover{
  background: var(--orange-btn-hover);
  border: 1px solid var(--orange-btn-hover);
}
.btn-orange:focus{
  outline: dotted 2px var(--black);
  background: var(--orange-btn-active);
  border: 1px solid var(--orange-btn-active);
}
.btn-orange:active{
  transform: scale(.9);
  outline: dotted 2px var(--black);
  background: var(--orange-btn-active);
  border: 1px solid var(--orange-btn-active);
}
.add-element{
  position: relative;
  bottom: 30px;
  right: -130px;
}
.add-element:after{
  content: 'Добавлено';
  position: absolute;
  padding: 0.4rem;
  font-size: 12px;
  background: repeating-linear-gradient(45deg, #FABA3B, transparent 100px);
  border-radius: 10rem;
}



/* button white */
.btn-white{
  background: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--border-gray);
  transition: box-shadow .3s ease, transform .3s ease;
  padding: 7px 20px;
}
.btn-white:hover{
  box-shadow: inset 0px 0px 18px 2px var(--border-gray);
}
.btn-white:focus{
  outline: dotted 2px var(--black);
  box-shadow: inset 0px 0px 18px 2px var(--border-gray);
}
.btn-white:active{
  transform: scale(.9);
  outline: dotted 2px var(--black);
  box-shadow: inset 0px 0px 25px 2px var(--border-gray);
}


/* checkbox */
.checkbox-orange {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-orange+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer
}
.checkbox-orange+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  margin-right: 8px;
  background: var(--white);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px;
  transition: box-shadow .3s ease;
}
.checkbox-orange:hover+label::before {
  box-shadow: 0px 0px 5px 2px var(--gray);
}
.checkbox-orange:focus+label::before {
  outline: 1px solid var(--gray);
}
.checkbox-orange:checked+label::before {
  background-color: var(--white);
  background-image: url(../img/icons/check.svg);
}

/* input type search */
.search-form{
  width: 45%;
  max-width: 459px;
  position: relative;
  margin-left: 8px;
}
.input-search, .btn-input-search {
  /* outline: none; */
  background: transparent;
}
.input-search {
  width: 100%;
  position: relative;
  padding: 14px 32px;
  border: 1px solid var(--orange);
  border-radius: 4px;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: left 7px bottom 50%;
}
.input-search:focus {
  box-shadow: 0px 0px 10px 1px var(--orange);
  outline: 1px solid transparent;
}
.input-search::placeholder {
  font: var(--font);
  color: var(--black-text);
  opacity: 0.2;
}

.btn-input-search {
  background: var(--orange);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--orange);
  outline: none;
  position: absolute;
  font-weight: 500;
  top: 0;
  right: 0;
  line-height: 17px;
  cursor: pointer;
  transition: transform .3s ease;
}

.btn-input-search > p {
  padding: 6px 12px;
}
.btn-input-search:focus{
  outline: 2px solid transparent;
}
.btn-input-search:active{
  outline: 2px solid transparent;
  transform: scale(1.1);
}


@media (max-width: 1023px){
  .btn-input-search > p {
    display: none;
  }
  .btn-input-search{
    width: 48px;
    position: absolute;
    left: 0;
    height: 45px;
    background-color: transparent;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid transparent
  }
  .input-search {
    background: none;
    padding: 14px 5px 14px 54px;
  }
  .input-search:focus + .btn-input-search {
    background-color: var(--orange);
    background-image: url(../img/icons/search-active.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 639px){
  .search-form{
    width: 55%;
    margin: 0px;
  }
  .input-search {
    padding: 14px 5px 14px 50px;
  }
  .btn-white > p{
    padding: 12px 4px;
  }
  .btn-input-search:hover{
    background: var(--orange-btn-hover);
    border: 1px solid var(--orange-btn-hover);
    background: linear-gradient(to bottom, var(--orange-btn-hover), var(--orange-btn-hover)), url(../img/icons/search-active.svg)no-repeat;
    background-position: 50% 50%;
    background-blend-mode: overlay;
  }
  .btn-input-search:active{
    background: var(--orange-btn-active);
    border: 1px solid var(--orange-btn-active);
    background: linear-gradient(to bottom, var(--orange-btn-active), var(--orange-btn-active)), url(../img/icons/search-active.svg)no-repeat;
    background-position: 50% 50%;
    background-blend-mode: overlay;
  }
}

