/* filter section */

.filter {
  margin-top: 24px;
  border-radius: 8px;
  min-width: 296px;
  height: fit-content;
  background-color: var(--filter-gray);
  /* position: relative; */
}
.filter__title h2{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 14px;
  padding: 16px;
}
.filter__section{
  padding: 16px;
  border-top: 1px solid var(--filter-categories-border-gray)
}
.filter__block{
  position: relative;
  cursor: pointer;
}
.filter__title{
  font-weight: 600;
}
.filter__button{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}
.filter__field{
  list-style: none;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
}
.show-all{
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  color: var(--filter-text-orange);
  margin-top: 8px;
  cursor:pointer;
  text-align: left;
  width: fit-content;
  border: 1px solid transparent
  /* transform: text; */
}

.show-all:focus{
  outline: dotted 1px var(--orange);
}
.show-all:active{
  outline: dotted 1px var(--orange);
}
.checkbox-item{
  margin-top: 8px;
  font-weight: 400;
}
.filter__search-form{
  margin-top: 14px;
  width: 100%;
  max-width: 459px;
  position: relative;
}
.filter__input-search {
  width: 100%;
  position: relative;
  padding: 7px 10px 8px 34px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background: var(--white);
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: left 7px bottom 50%;
  transition: box-shadow .3s ease;
}
.filter__input-search::placeholder {
  font: var(--font);
  opacity: 0.2;
}
.filter__input-search:hover {
  box-shadow: 0px 0px 5px 2px var(--gray);
}
.filter__input-search:focus {
  outline: 2px solid var(--light-gray);
}
.range-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 214px;
  padding-bottom: 13px;
}
.range-field label{
  font-weight: 400;
}
.input-range{
  text-align: center;
  width: 70px;
  height: 32px;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 4px;
  transition: box-shadow .3s ease;
}
.input-range:hover {
  box-shadow: 0px 0px 5px 2px var(--gray);
}
.input-range:focus {
  outline: 2px solid var(--light-gray);
}



/* filter dropdown */
.filter-dropdown__blackout{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:none
}
.filter-dropdown {
  width: 100%;
  max-width: 320px;
  height: 100%;
  background-color: var(--filter-gray);
  position: absolute;
  /* z-index: 2; */
  top: 0;
  left: 0;
}
.filter__button-return{
  position: absolute;
  top: 19px;
  left: 20px;
  width: 15px;
  height: 20px;
  /* outline: none; */
  border:none;
  background: url(../img/icons/arrow_return.svg) no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  transition: transform .3s ease;
}
.filter__button-return:hover{
  transform: scale(1.3);
}
.filter__button-return:focus{
  outline: 1px solid transparent;
}
.filter__button-return:active{
  transform: scale(.9);
}
.filter-dropdown__title > h2{
  text-align: center;
}
@media (max-width: 1023px){
  .filter{
    display: none;
  }
  .btn-show-filter{
    display: block;
  }
}
@media (max-width: 639px){
  .filter-dropdown {
    overflow: scroll;
  }
}

.found-elements{
  display: none;
  border-radius: 4px;
  top: 0;
  left: 350px;
  padding: 10px;
  position: absolute;
  font-size: 12px;
  width: fit-content;
  background: var(--white);
  z-index: 99;
}
.found-elements--visible{
  display: block;
}
.found-elements > button {
  text-decoration: underline;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  background-color: transparent;
}


.filter-wrapper > input[type="checkbox"]{
  color: red;
}