@import 'details.css';
@import 'filter_section.css';
:root{
  --background-gray: #f9f9f9;
  --breadcrumb-gray: #7c7c7c;
  --filter-gray: #F2F2F2;
  --border-gray: #EAEAEA;
  --light-gray: #E5E5E5;
  --gray: #C4C4C4;
  --properties-gray: #f5f5f5;
  --filter-categories-border-gray: #e8e8e8;
  --orange: #FBBA3C;
  --filter-text-orange: #FF9702;
  --orange-btn-hover: #FCD17D;
  --orange-btn-active: #E19605;
  --black: #000000;
  --white: #ffffff;
  --font: 'Montserrat', 'Arial', sans-serif;
  --column-gap: 12px;
}
*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: var(--font);
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
}
.wrapper{
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 24px;
}

/* header */
.header__container{
  height: 95px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo > img{
  margin-right: 15px;
  margin-top: 10px;
}
.header__btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__btn div{
  padding-left: 11px;
}
.header__btn > p{
  padding: 6px 11px 6px 10px;
  font-weight: 500;
}
.header__nav{
  margin-left: 70px;
  margin-top: 20px;
  width: 30%;
}
.header__nav > ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.header__nav > ul :first-child{
  margin-left: 0px;
}
.header__nav-item > a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  margin-left: 15px;
}
.header__nav-item > a > p{
  padding-top: 4px;
  transition: all .3s ease;
}
.header__nav-item:hover > a > p{
  color: var(--orange);
}

/* mobile navigation */

.nav-mobile__button{
  margin-left: 14px;
  width: 56px;
  height: 45px;
  background: linear-gradient(to bottom, var(--orange), var(--orange)), url(../img/icons/burg_menu.svg) no-repeat;
  background-position: 50% 50%;
  display: none;
  background-blend-mode: overlay;
}
.nav-mobile__button:hover{
  background: linear-gradient(to bottom, var(--orange-btn-hover), var(--orange-btn-hover)), url(../img/icons/burg_menu.svg) no-repeat;
  background-position: 50% 50%;
  border: 1px solid var(--orange-btn-hover);
  background-blend-mode: overlay;
}
.nav-mobile__button:active{
  background: linear-gradient(to bottom, var(--orange-btn-active), var(--orange-btn-active)), url(../img/icons/close.svg) no-repeat;
  background-position: 50% 50%;
  background-blend-mode: overlay;
  border: 1px solid var(--orange-btn-active);
}

/* main section */

main{
  background: var(--background-gray);
  height: auto;
}

/* breadcrumb */

.breadcrumb__list {
  color: var(--breadcrumb-gray);
  list-style: none;
  padding-top: 14px;
}
.breadcrumb__list li {
  color: #7c7c7c;
  display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.breadcrumb__list li+li:before {
  content: "/";
}
.breadcrumb__list .breadcrumb__item a {
  color: var(--breadcrumb-gray);
  text-decoration: none;
}
.breadcrumb__list .breadcrumb__item a:hover {
  text-decoration: underline;
}

/* section */
.btn-show-filter{
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  align-items: center;
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: transparent;
}
.btn-show-filter span{
  font-family: var(--font);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--orange);
  margin-left: 4px;
}
.main-title h1{
  padding: 14px 0px 16px 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
}
.product-list {
  display: grid;
  grid-gap: 10px;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
}
.product-list__item {
  margin-top: 24px;
  position: relative;
}
.product-item__wrapper {
  height: auto;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  cursor:pointer;
  text-decoration: none;
  color: var(--black);
  transition: all .3s linear;
}
.product-item__wrapper:hover .product-item__title h2{
  color: var(--orange);
}
.product-item__wrapper:active{
  border: 1px solid var(--orange);
}
.product-item__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 4px;
  padding-bottom: 75%;
}
.product-item__img > div {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.product-item__img > div > img {
  width: 100%;
  height: 100%;
}
.product-item__info{
  padding:8px 14px 14px 14px;
}
.product-item__title h2{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: all .3s linear;
}
.product-item__price{
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.product-item__button {
  margin-top: 8px;
  width: 120px;
  z-index: 15;
}
.product-item__button > p {
  padding: 7px 20px;
}
.section-show-more{
  padding-bottom: 20px;
  margin: 42px 0px 68px 0px;
  display: flex;
  justify-content: center;
}

/* settings grid */
.grid {
  display: grid;
  grid-gap: var(--column-gap);
  --cols: 12;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}
.item {
  min-width: 0;
  width: 100%;
  --span: 1;
  grid-column: span var(--span);
}


/* media */
@media (max-width: 1023px){
  .wrapper{
    padding: 0 24px;
  }
  .header__logo > img{
    height: 45px;
  }
  .header__btn div{
    padding-left: 0px;
  }
  .header__btn > p{
    padding: 6px 0px 6px 10px;
    font-weight: 500;
  }
  .header__nav{
    margin-left: 0px;
    width: 80%;
  }
  .grid{
    display: flex;
  }
}
@media (max-width: 639px){
  .wrapper{
    padding: 0 20px;
  }
  .header__logo > img{
    height: 50px;
  }
  .header__nav{
    height: 100vh;
    position: absolute;
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    top: 58px;
    z-index: 99;
    width: 100vw;
    left: 0;
    display: none;
  }
  .header__nav ul{
    margin-top: 90px;
    flex-direction: column;
    height: 280px;
  }
  .header__btn{
    display: none;
  }
  .nav-mobile__button{
    display: block;
  }
  .header__btn > p{
    display: none;
  }
  .header__btn > div{
    padding: 15px 20px;
  }
  .breadcrumb{
    display: none;
  }
}


.shadow{
  box-shadow: 0px 0px 5px 10px rgb(113, 94, 94);
}

