/* radio button */
.radio-orange {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-orange+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px
}
.radio-orange+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid var(--gray);
  border-radius: 50%;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: box-shadow .3s ease, transform .3s ease;
}
.radio-orange:hover+label::before {
  box-shadow: 0px 0px 5px 2px var(--gray);
}
.radio-orange:focus+label::before {
  box-shadow: 0px 0px 5px 2px var(--gray);
  outline: 1px solid var(--ligth-gray);
}
.radio-orange:active+label::before {
  transform: scale(.3);
}
.radio-orange:checked+label::before {
  border-color: var(--orange);
  background-color: transparent;
  background-image: url(../img/icons/radio-active.svg);
}
.form-order__container{
  padding-top: 24px;
  padding-bottom: 5vh;
}
.form-order__title h2{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.form-group{
  margin-top: 6px;
  margin-bottom: 30px;
  list-style: none;
}
.form-group__item{
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__label{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 20%;
  min-width: 88px
}
.form__input {
  outline: none;
  width: 100%;
  max-width: 272px;
  min-width: 192px;
  position: relative;
  padding: 12px 0px 13px 14px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background: var(--white);
  font-weight: normal;
  font-size: 16px;
  transition: box-shadow .3s ease;
}
.form__input:hover {
  box-shadow: 0px 0px 5px 2px var(--gray);
}
.form__input:focus {
  outline: 2px solid var(--light-gray);
}

.form__input::placeholder {
  font-family: var(--font);
  opacity: 0.2;
}
.orders-list{
  list-style: none;
  margin-top: 10px;
  border-top: 1px solid #c2c2c2;
  padding-top: 16px;
}
.orders-list__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px 14px 0px;
  border-bottom: 1px solid #e1e1e1;
}
.orders-list__item__info{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 14px;
  margin-right: 110px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.orders-list__item__price{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.orders-list__img-wrapper{
  width: 100px;
}
.orders-list__img {
  overflow: hidden;
  position: relative;
  width: 100px;
  border-radius: 4px;
  padding-bottom: 75%;
}
.orders-list__img > div {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.orders-list__img > div > img {
  width: 100%;
  height: 100%;
}
.checkout{
  max-width: 300px;
}
.checkout-list{
  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 32px 0px 30px 0px;
}
.checkout-list__item{
  display: flex;
  justify-content: space-between;
  padding: 13px 0px 13px 0px;
  border-bottom: 1px solid #e1e1e1;
}
.checkout-list__item:last-child{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-bottom: none
}
.checkout__button{
  width: 100%;
  padding: 10px 20px;
}
.form-delivery{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
}
.form-delivery__item{
  margin-bottom: 24px;
  position: relative;
  width: fit-content;
}
.form-delivery__item::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  font-family: var(--font);
  font-size: 14px;
  top: 22px;
  left: 60px;
  opacity: 0;
  width: 230px;
  font-weight: 400;
  line-height: 17px;
  padding: 0.5em 0.8em;
  background: var(--orange);
  color: var(--black);
  pointer-events: none;
  transition: opacity 250ms, top 250ms;
}
.form-delivery__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 80px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: var(--orange);
  transition: opacity 250ms, top 250ms;
}
.form-delivery__item:hover {z-index: 2;}
.form-delivery__item:hover::after,
.form-delivery__item:hover::before {opacity: 1;}
.form-delivery__item:hover::after {top: 30px;}
.form-delivery__item:hover::before {top: 20px;}


@media (max-width: 1023px){
  .grid{
    display: block;
  }
}
@media (max-width: 639px){
  .main-title h1{
    font-size: 24px;
  }
  .orders-list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .orders-list__item__info{
    width: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 14px;
    margin-right: 110px;
  }
  .orders-list__count{
    margin-top: 13px;
  }
  .orders-list__item__price{
    flex-basis: 100%;
    margin: 5px 0px 0px 17px;
  }
  .checkout-list{
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 9px 0px 30px 0px;
  }
  .form-order__title h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
}

