.main-container{
  margin-top: 24px;
}
.product-list {
  display: grid;
  grid-gap: 10px;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
}
.product-list__item {
  margin-top: 24px;
}
.product-card__img-wrapper {
  height: auto;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  cursor:pointer;
  text-decoration: none;
  color: var(--black);
}
.product-card__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 4px;
  padding-bottom: 75%;
}

.product-card__img > div {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.product-card__img > div > img {
  width: 100%;
  height: 100%;
}
.product-info{
  padding-bottom: 10vh;
}
.product-info__title{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.product__properties{
  margin-top: 10px;
  list-style-type: none;
}
.product-prop{
  padding: 6px 0px 6px 8px;
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.product-prop__title{
  width: 50%;
  color: var(--breadcrumb-gray)
}
.product-prop__value{
  width: 50%;
}
.background-gray{
  background-color: var(--properties-gray);
}
.product__trade-block{
  padding: 18px 8px;
}
.product__trade-title{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.product__trade-price{
  margin-top: 8px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--orange);
}
.product__button-container{
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}
.product__btn{
  padding: 10px 20px;
}
.wrapper__product{
  padding: 0px 0px;
}

@media (max-width: 1023px){
  .grid{
    display: flex;
    flex-wrap: wrap;
  }
  .product-info__title{
    margin-top: 20px;
  }
  .wrapper__product{
    padding: 0px 24px;
  }
}
@media (max-width: 639px){
  .product-prop{
    font-size: 14px;
  }
  .product-info__title{
    margin-top: 17px;
    text-align: center;
  }
  .wrapper{
    padding: 0px;
  }
  .product-prop{
    padding: 6px 20px 6px 20px;
  }
  .product__trade-block{
    padding: 18px 20px;
  }
  .wrapper__product{
    padding: 0px 18px;
  }
  .wrapper__product-title{
    padding: 0px 18px;
  }
  .product__btn{
    padding: 10px 16px;
  }
}
