.shopping-cart__blackout{
  position: fixed;
  top:0;
  right: 0;
  width:100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  display:none;
  z-index: 99;
  overflow: scroll;
}
.shopping-cart__blackout--visible{
  display: block;

}
.shopping-cart__container{
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--background-gray);
  max-width: 656px;
  min-width: 320px;
  width: 100%;
  padding: 24px 40px 20px 40px;
}
.shopping-cart__header > h2{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.button-close{
  position: absolute;
  top: 30px;
  right: 40px;
  border:none;
  background: transparent;
  cursor: pointer;
  transition: transform .3s ease;
}
.button-close:hover{
  transform: scale(1.3);
}
.button-close:focus{
  outline: 1px solid transparent;
}
.button-close:active{
  transform: scale(.9);
}
.shopping-list{
  list-style: none;
}
.shopping-list__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px 14px 0px;
  border-bottom: 1px solid #e1e1e1;
}
.shopping-list__item:first-child{
  padding: 0px 0px 12px 0px;
  margin-top: 22px;
}
.shopping-list__item__info{
  flex-grow: 1;
  display: flex;
  justify-content: start;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 14px;
}
.shopping-list__count{
  margin-left: 14px;
  display: flex;
  flex-wrap: nowrap;
}
.shopping-list__item__price{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

/* checkbox */
.shopping-list__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.shopping-list__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 400;
  cursor: pointer;
  transition: color .3s linear;
}
.shopping-list__checkbox:hover+label {
  color: var(--orange);
}
.shopping-list__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  margin-right: 14px;
  background: var(--white);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px;
  transition: box-shadow .3s ease;
}
.shopping-list__checkbox:hover+label::before {
  box-shadow: 0px 0px 5px 2px var(--gray);
}
.shopping-list__checkbox:focus+label::before {
  outline: 1px solid var(--gray);
}
.shopping-list__checkbox:checked+label::before {
  background-color: var(--white);
  background-image: url(../img/icons/check.svg);
}

.shopping-list__img-wrapper{
  width: 100px;
}
.shopping-list__img {
  overflow: hidden;
  position: relative;
  width: 100px;
  border-radius: 4px;
  padding-bottom: 75%;
}
.shopping-list__img > div {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.shopping-list__img > div > img {
  width: 100%;
  height: 100%;
}
.shopping-list__button{
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  transition: transform .3s ease, color .3s ease;
}
.shopping-list__button:hover{
  color: var(--orange);
}
.shopping-list__button:focus  {
  outline: 1px solid transparent ;
}
.shopping-list__button:active > svg  {
  transform: scale(1.2);
}

.shopping-list__button .icon{
  margin-left: 14px;
}
.shopping-cart__price{
  text-align: center;
  margin-top: 25px;
}
.shopping-cart__price > p > span{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.shopping-cart__button{
  margin-top: 22px;
}

/* button counter */
.counter{
  text-align: center;
  height: 26px;
  width: 22px;
  outline: none;
  border:none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
}
.btn-add{
  background: url(../img/icons/plus.svg) no-repeat;
  background-position: 50% 50%
}
.btn-remove{
  background: url(../img/icons/minus.svg) no-repeat;
  background-position: 50% 50%
}
.btn-add, .btn-remove{
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  border-radius: 4px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-size: 10px;
  transition: box-shadow .3s ease, transform .3s ease;
}

.btn-add:hover, .btn-remove:hover{
  box-shadow: 0px 0px 5px 2px var(--gray);
}
.btn-add:focus, .btn-remove:focus{
  outline: 1px solid var(--gray);
}
.btn-add:active, .btn-remove:active{
  transform: scale(.9);
}


@media (max-width: 1023px){
  .grid{
    display: block;
  }
}
@media (max-width: 639px){
  .shopping-cart__container{
    background-color: var(--background-gray);
    max-width: 656px;
    padding: 24px 0px 0px 0px;
    height: 640px;
  }
  .shopping-cart__header > h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .button-close{
    top: 20px;
    right: 22px;
  }
  .shopping-list__item{
    padding: 14px 20px 4px 20px;
    flex-wrap: wrap;
  }
  .shopping-list__item:first-child{
    padding: 0px 20px 12px 20px;
  }
  .shopping-list__item__info{
    flex-grow: 1;
    width: 90px;
    flex-direction: column;
    align-content: space-between;
    margin-left: 14px;
    margin-right: 0px;
  }
  .shopping-list__count{
    margin-left: 0;
    margin-top: 10px;
  }
  .shopping-list__item__price {
    margin-left: 55px;
    order: 2;
    margin-top: 5px;
  }
}